@page
@model SparkAuto.Pages.Users.IndexModel
@{
}
<div class="row">
    <div class="col 6">
        <h2 class="text-info">Customer List</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary" asp-page="/Account/Register" asp-area="Identity">Create New</a>
    </div>
</div>
<form>
    <div class="white-background border">
        <div class="container border border-secondary" style="height:60px;">
            <div class="row">
                <div class="col-11">
                    <div class="row" style="padding-top:10px;">
                        <div class="col-4">
                            @Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control", placeholder = "Name..." } })
                        </div>
                        <div class="col-4">
                            @Html.Editor("searchPhone", new { htmlAttributes = new { @class = "form-control", placeholder = "Phonenumber" } })
                        </div>
                        <div class="col-4">
                            @Html.Editor("searchEmail", new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div class="row" style="padding-top:10px;">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        @if (Model.ApplicationUserList.Any())
        {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    @Html.DisplayNameFor(m => m.ApplicationUserList[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ApplicationUserList[0].PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ApplicationUserList[0].Email)
                </th>
                <th>

                </th>
                <th>

                </th>
            </tr>
            @foreach (var item in Model.ApplicationUserList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Email)
                    </td>
                    <td>
                        <a asp-page="../Cars/Index" asp-route-userid="@item.Id" style="text-decoration:none">
                            <img style:width="40px" height="40" src="~/Images/Car.png.png" /> &nbsp;
                            View Cars
                        </a>
                    </td>
                    <td>
                        <a asp-page="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a>
                        <a asp-page="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>

                    </td>
                </tr>
            }

        </table>

        }
        else { 
            <p class="text-danger">No Registred User</p>
        }

    </div>
</form>